.header{
    background-color: aqua;
}
.header h1 {
    text-align: Left;
    font-size: 55px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0px auto 0px auto;
    padding-bottom: 0px;
}
.header img {
    max-width: 250px;
    margin-top: 0px;

}
.navigation {
    display: inline-block;
    list-style-type: none;
    color: red;
}