* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(104, 129, 151);
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(104, 129, 151);
    color: #ffffff;
}

.header h1 {
    font-size: 60px;
    text-align:left;
    
}
.header img {
    margin-left: 75px ;
    width:250px;
}
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header div nav ul li {
    list-style-type: none;
    display:inline-block;
    padding: 20px;
    margin: auto 25px auto 25ox;
    color: white;
}
.header a{
    color: rgb(44, 4, 4);
    text-decoration: none;
    font-size: 30px;

}
/*Hero Section*/

.hero{
    width: 100%;
    background-image: url("./images/BANDON-DUNES.jpeg");
    background-size:cover;
    background-position: center;
    height: 400px;
    margin-bottom: 25px;
}
.About-Me {
    background-color: teal;
    padding:25px;
}

.About-Me h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    color: white;
    margin: 40px auto 50px auto;
    padding: 10px;
    border-bottom: 3px solid;
    text-align:center;
    width:40%;
} 
p{
    font-size: 25px;
    margin: 25px 100px 25px 100px;
    color: white;
    text-align: center;
}
.My-Work {
    background-color: teal;
    padding:25px;
}
.My-Work h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    color: white;
    margin: auto auto 50px auto;
    padding: 10px;
    border-bottom: 3px solid;
    text-align:center;
    width:40%;
}
.My-Work a {
    text-decoration: none;
    font-size: larger;
    color: black
}
.Run-Buddy {
    width: 65%;
    background-image: url(./images/run-buddy.png);
    padding: 40px 50px 20px 50px;
    display: block;
    text-align: center;
    height: 350px;
    background-size:1250px;
    margin-left: auto;
    margin-right: auto;
}
.Robot-Gladiators {
    background-image: url(./images/Gladiator.jpeg);
   display:inline-block;
   padding: 20px 50px 20px 50px;
   height:350px;
   margin-left: 275px;
   width: 35%;
   background-size: 650px;


}
.Horiseon {
    background-image: url(./images/Screen\ Shot\ 2021-11-01\ at\ 8.01.43\ PM.png);
    display:inline-block;
    padding: 20px 50px 20px 50px;
    height:350px;
    margin: 20px 0px 20px 0px;
    width: 35%;
    background-size: 650px;
}
.Placeholder1 {
    background-image: url(./images/augusta-national-12.jpeg);
   display:inline-block;
   padding: 20px 50px 20px 50px;
   height:350px;
   margin-left: 275px;
   width: 35%;
   background-size: 650px;
}
.Placeholder2 {
    background-image: url(./images/placeholder.jpeg);
    display:inline-block;
    padding: 20px 50px 20px 50px;
    height:350px;
    margin: 20px 0px 20px 0px;
    width: 35%;
    background-size: 650px;
}
.Contact-Me {
    background-color: teal;
    padding:25px;
}
.Contact-Me h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    color: white;
    margin: auto auto 40px auto;
    padding: 10px;
    border-bottom: 3px solid;
    text-align:center;
    width:40%;
}
.Contact-Me address {
    font-size: 25px;
    text-align: center;
    color: white;
    margin-bottom: 80px;
}
.Resume h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    color: white;
    margin: auto auto 40px auto;
    padding: 10px;
    border-bottom: 3px solid;
    text-align:center;
    width:40%;
}
.Resume {
    text-align: center;
    font-size: 40px;
    padding: 25px auto 25px auto;
    margin-top: 50px;
    
}
@media screen and (min-device-width: 300px) and (max-device-width: 500px)
 {p {
     font-size: 10px;
 }
 .Robot-Gladiators{
     width:90%;
 }
 .Placeholder{
     width:90%;
 }
 .Placeholder2{
     width:90%;
 }
 .Placeholder3{
     width:90%;
 }}